@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

body > * {
    font-family: 'Scada', sans-serif;
    background-color: #fff8fa
}

header {
    padding:10px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    color: #FBEEC1;
    background-color: #151718;
    font-family: 'Sarina', cursive;

}

#content {
    display:flex;
    flex-direction:row;
    height:100%;
    font-family: 'Dongle', sans-serif;
    font-size:32px;

}

button { 
    background-color: #DAAD86;
    font-size: 20px;
    color:black;
    border-radius:10%;
    transition:0.3s;
    margin-bottom:2px;
    font-family: 'Scada', sans-serif;
}

button:hover {
    background-color: #FBEEC1;
    transform:scale(1.1);
}

main {
    margin-left: 20px;
    width:100%;
    display:flex;
    flex-direction:column;
    height:100%;
    
}

#sidebar {
    display:flex;
    flex-direction:column;
    padding:20px;
    width:200px;
    background-color:rgb(177 177 203);
    color: black;
    
}

.trash {
    height:20px;
}

section {
    display:flex;
    flex-direction:column;
    padding:0;
}

.task {
    outline: 3px solid rgb(247, 192, 91);
    width:90%;
    display:block;
    border-radius: 15px;
    background-color: rgb(240, 178, 98);
    padding:3px;
    transition: 0.3s;
    gap:5px;
    padding: 5px;
    margin-bottom: 10px;
    
    
}

.task:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgb(32, 30, 29);

}


.overview { 
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:5px;
}

.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background-color: white;
    z-index: 9;
    padding:20px;
    margin:30px;
    border: 2px solid black;
    border-radius:10px;
}

#taskModal {
    display:flex;
    flex-direction:column;
    margin: 3px;
    outline: 2px solid black;
    padding:5px;
    gap:5px;
    flex:1;
}

.top {
    display: flex;
    flex-direction: row;
    gap:5px;
    max-height:30px;
    justify-content:space-between;
    align-items: center;
    margin-bottom:5px;
    flex:1;
    overflow: none;
    text-align:center;
}

.top > * {
    width:25%;
    height:auto
}

.descInput {

}

#userProjects {
    display:flex;
    flex-direction:column
}

.button {
    display:flex;
    font-size:28px;
    align-items:center;
    padding:0;
    margin-left:3px;
    margin-right:3px;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
    margin-bottom:5px;
    transition:0.1s;
    outline: 1px solid black;
    cursor:pointer;
}

.button:hover {
    background-color: beige;
}



.title {
    margin:0px 4px 0px 4px;
    font-size:30px;
    font: weight 300px;
    user-select: none;
}

footer {
    padding-bottom:8px;
    background-color: black;
    padding:20px;
    font-family: 'Sarina', cursive;
    color:#FBEEC1;
    text-align:center;
}

#taskList {
    margin:10px;
    display:flex;
    align-items: center;
    flex-direction:column;
    overflow:auto;
    margin-bottom:30px;
}




.checkbox { 
    background-color: black;
}

.checked {
    background-color:black;
    color:white;
    text-decoration: line-through;
    outline: 3px solid rgb(255, 255, 255);
}

.checked > .button { 
    background-color: white;
    color:black;
}

.description {
    transition:0.4s;
}

.top .button {
    width:80px;
    text-align:center;
    justify-content:center;
}

p {
    text-align: center;
}

.expand, .completed, .delete {
    height:20px;
}

.checked {

}